<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stembeyond.uiuc.com.pickone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- =============== ALL FACEBOOK =========== -->

        <uses-permission android:name="android.permission.INTERNET" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider331946570500397"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <!-- ============================================= -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Comparison"
            android:label="@string/title_activity_category_list"
            android:parentActivityName=".QuestionList" />
        <activity
            android:name=".QuestionList"
            android:label="@string/title_activity_question_list"
            android:parentActivityName=".MainActivity" />
        <!-- new activities -->
        <!-- jczkdjhjsdasaa -->
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Poll"
            android:label="@string/title_activity_poll"
            android:parentActivityName=".Comparison" />
        <activity android:name=".Register" />

        <service
            android:name=".MusicService"
            android:enabled="true" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AddQuestion"
            android:label="@string/title_activity_add_question"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
